@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }

  main {
    min-width: 95% !important;
    max-width: 95% !important;
  }

  .form {
    .w-25,
    .w-50,
    .w-75 {
      width: 100%;
    }
  }
}
